@import url(http://fonts.googleapis.com/css?family=Karla|Quicksand);

body {
  margin: 36px;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
