header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  padding: 0 $gutter;

  background-color: $white;
  font-size: $menuLabel;

  h1 {
    flex-basis: 15vw;
  }

  .menu {
    width: 75vw;
  }
}
