.project {
  padding-bottom: 50px;

  .title {
    font-size: 50px;
    padding-bottom: 15px;
  }

  .thumb {
    padding-bottom: 15px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .metadata {
    display: flex;
    font-size: 20px;

    .tags {
      padding-right: 20px;
    }
  }
}
