html {
  font-size: 54px;
}

* {
  &::selection {
      background: $red;
      color: $white;
	}
}

body {
  font-family: HelveticaNowDisplay-Md, Arial;
  min-height: 100vh;
  color: $black;
  margin: $gutter;
  margin-top: $headerHeight;
}

a {
  text-decoration: none;
  color: $black;
}

section.first {
  height: calc(100vh - #{$headerHeight} - #{$headerHeight});
  display: flex;
  align-items: flex-end;
  padding-bottom: $headerHeight;
}
