html {
  font-size: 54px;
}

* {
  &::selection {
      background: $red;
      color: $white;
	}
}

body {
  font-family: HelveticaNowDisplay-Md, Arial;
  min-height: 100vh;
  color: $black;
  margin: $gutter;
  margin-top: calc(90px + #{$headerHeight})
}
