html {
  font-size: 54px;
}

* {
  &::selection {
		background: $red;
		color: $white;
	}
}

body {
  font-family: HelveticaNowDisplay-Md, Arial;
  height: 100vh;
  overflow: hidden;
  color: $black;
  margin: $border;
}
